// Prospector Scanner Keymap
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            // Scanner device - no physical keys, but need at least one binding
            bindings = <&none>;
        };
    };
};
